<% provide(:title, @user.name) %>
<div class="container">
  <div class="col-md-9 col-sm-12 col-xs-12">
    <div class="row">
      <section class="user_info">
        <h1>
          <%= gravatar_for @user %>
          <%= @user.name %>
          (<%= @user.posts.try(:count) || 0 %> Posts)
        </h1>
      </section>

      <% if @user.posts.any? %>
        <ol class="posts">
          <%= render @posts %>
        </ol>
        <%= will_paginate @posts %>
      <% end %>
    </div>
  </div>
</div>
