<%= form_for(@post) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_field :title, placeholder: "Add title...", rows: "15", id: "post_title" %>
    <%= f.text_area :content, placeholder: "Compose new post...", rows: "15", id: "post_content" %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>
