<%= form_for(@post) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_field :title, placeholder: "Add title...", rows: "15", maxlength: Post::TITLE_LENGTH, id: "post_title" %>
    <div class="counter">
      <span id="title_counter" data-maximum-length="<%= Post::TITLE_LENGTH %>">0</span>/<span><%= Post::TITLE_LENGTH %></span>
    </div>
    <%= f.text_area :content, placeholder: "Compose new post...", rows: "15", id: "post_content" %>
    <div class="large-10 large-centered columns">
      <%= f.text_field :all_tags, placeholder: "Tags separated with comma" %>
    </div>
    <p>Main image</p>
    <%= f.file_field :main_image %>
    <p>Other images. Final image: <%= Image.last.file.url %></p>
    <%= f.file_field :image_data, multiple: true %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
  <%= f.submit "Preview", name: 'preview_button' %>
<% end %>
