<li id= "post-<%= post.id %>">
  <h2><%= link_to post.title, post_path(post)%></h2>
  <div class="author_box">
    <span class = "user" style="display:inline-block; margin: 0px"><%= link_to post.user.name, post.user %></span>
    <span class = "timestamp" style="display:inline-block; margin: 0px"> | <%= time_ago_in_words(post.created_at) %> ago. </span>
  </div>
  <span class = "content"><%= markdown(post.content)%></span>
  <span class = "timestamp">
    <%= link_to "Read more >>", post_path(post) %>
    <% if current_user?(post.user) %>
      <%= link_to "edit", edit_post_path(post) %>
      <%= link_to "delete", post, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% end %>
  </span>
</li>
