<% provide(:title, @post.title) %>
<div class="posts">
  <h1><%= @post.title %> (Preview)</h1>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <li id= "post-<%= @post.id %>">
        <span class = "content"><%= markdown(@post.content)%></span>
        <span class = "timestamp">
          Posted now.
        </span>
      </li> 
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <li class="post" id= "post-<%= @post.id %>">
        <%= link_to gravatar_for(@post.user, size: 50), @post.user %>
        <span class = "user"><%= link_to @post.user.name, @post.user %></span>
      </li>
    </div>
  </div>
</div>
